---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Features from "../components/Features.astro";
import WorksWith from "../components/WorksWith.astro";
import Pricing from "../components/Pricing.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main id="top">
    <Hero />
    <HowItWorks />
    <Features />
    <WorksWith />
    <Pricing />
    <CTA />
  </main>
  <Footer />
</Layout>
